<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>About us</h2>
    <p>
    You clearly don’t know who you’re talking to, so let me clue you in. <br />
    I am not in danger. <br />
    I am the danger. <br />
    A guy opens his door and gets shot, and you think that of me? <br />
    No! I am the one who knocks! <br />
    </p>
  </div>
</div>
